<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!--<div class="modal-body">

    <form novalidate="novalidate">
        <div class="form-group">
            <label class="form-control-static">Beacon Id:</label>
            <input class="form-control input-sm" type="text" ng-model="newBeaconId" />
        </div>
        <div class="form-group">
            <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
            <a ng-click="confirm()" class="btn btn-small btn-primary">Add</a>
        </div>
        <alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>
</div>-->

<html>
    <head>
        <title>Add Beacon</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="span6">            
            <th style="min-width: 20px;">Danh sách beacon đã chọn</th>
            &nbsp &nbsp

            <table st-table="addedBeacons" st-safe-src="addedBeaconList" class="table table-striped table-condensed">
                <thead>

                <alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>


                <tr>
                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                    <th st-sort="description" style="min-width: 20px;">Description</th>
                    <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                    <th st-sort="major" style="min-width: 20px;">Major</th>
                    <th st-sort="minor" style="min-width: 20px;">Minor</th>

                    <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                    <th st-sort="lat" style="min-width: 10px;">Lat</th>
                    <th st-sort="lng" style="min-width: 10px;">lng</th>
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in addedBeacons">
                        <td>{{ beacon.beaconId}}</td>
                        <!--                        <td>{{ beacon.beaconName}}</td>-->
                        <td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>
                        <td>{{ beacon.description}}</td>
                        <td>{{ beacon.uuid}}</td>
                        <td>{{ beacon.bMajor}}</td>
                        <td>{{ beacon.bMinor}} </td>
                        <td>{{ beacon.numberPartner}} </td>
                        <td>{{ beacon.lat}}</td>
                        <td>{{ beacon.lng}}</td>
                        <td>{{ beacon.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="removeBeaconToList(beacon)" class="btn btn-small btn-primary" title="remove Beacon"><span class="glyphicon glyphicon-arrow-down"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <tr><th colspan="4"><a  ng-click="addBeacons2Partner()" class="btn btn-small btn-primary" title="Add">Add Beacon to Partner<br/></a><br/><br/></th></tr>
        </div>

        <div class="span6">
            <table st-table="beacons" st-safe-src="beaconList" class="table table-striped table-condensed">
                <thead>
                    <!--		    <tr><th colspan="5"><a class="btn btn-small btn-primary" title="Create">Add partner to Beacon<br/></a><br/><br/></th></tr>-->
                <th style="min-width: 180px;">Danh sách beacon</th>
                &nbsp &nbsp
                <tr>
                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                    <th st-sort="description" style="min-width: 20px;">Description</th>
                    <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                    <th st-sort="major" style="min-width: 20px;">Major</th>
                    <th st-sort="minor" style="min-width: 20px;">Minor</th>

                    <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                    <th st-sort="lat" style="min-width: 10px;">Lat</th>
                    <th st-sort="lng" style="min-width: 10px;">lng</th>
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in beacons">                        

                        <!--                        <td><input type="checkbox" ng-model='fooSelected' ng-checked="{{ partner.enable}}" ng-click='checkboxModel(fooSelected,partner.partnerId)'></td>-->
                        <td>{{ beacon.beaconId}}</td>
                        <!--                        <td>{{ beacon.beaconName}}</td>-->
                        <td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>
                        <td>{{ beacon.description}}</td>
                        <td>{{ beacon.uuid}}</td>
                        <td>{{ beacon.bMajor}}</td>
                        <td>{{ beacon.bMinor}} </td>
                        <td>{{ beacon.numberPartner}} </td>
                        <td>{{ beacon.lat}}</td>
                        <td>{{ beacon.lng}}</td>
                        <td>{{ beacon.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="adBeaconToList(beacon)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-arrow-up"/></a></td>
                        <!--			<td><a ng-click="addPartner2Beacon(partner.partnerId)" class="btn btn-small btn-primary" title="Thêm"><span class="glyphicon glyphicon-plus-sign"/></a></td>-->

                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>
        </div>
    </body>
</html>