<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-body">

    <form novalidate="novalidate">
        <div class="form-group">
	    <label class="form-control-static">Partner Id:</label>
	    <input class="form-control input-sm" type="text" ng-model="newPartnerId" />
	</div>
        <div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Add</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>
</div>
