<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="modal-body">

    <form  ng-show="!hasApp" novalidate="novalidate">
<!--	<div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.name" />
	</div>
	<div class="form-group">
	    <label class="form-control-static">Description:</label>
	    <input class="form-control input-sm" type="text" ng-model="newBeacon.description" />
	</div>-->
        <div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newApp.name" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Url:</label>
	    <input class="form-control input-sm" type="text" ng-model="newApp.urlCall" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Enable:</label>
	    <input class="form-control input-sm" type="text" ng-model="newApp.enable" />
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>

    <form  ng-show="hasApp" novalidate="novalidate">

	<div class="form-group">
	    <label class="form-control-static">Id:</label>
	    <p class="form-control-static input-sm"> {{localApp.id}}</p>	    
	</div>
        <div class="form-group">
	    <label class="form-control-static">Name:</label>	    
	    <input class="form-control input-sm" type="text" ng-model="localApp.name" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">URL:</label>
	    <input class="form-control input-sm" type="text" ng-model="localApp.urlCall" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Enable:</label>
            <input class="form-control input-sm" type="text" ng-model="localApp.enable" />
	</div>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Update</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>
</div>
