<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>iBeacons</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-show="!showPartnerList" class="span6">
            <table st-table="beacons" st-safe-src="beaconList" class="table table-striped table-condensed">
                <thead>
                    <tr><th colspan="5"><a ng-click="createBeacon()" class="btn btn-small btn-primary" title="Create">Create iBeacon <span class="glyphicon glyphicon-plus-sign"/><br/></a><br/><br/></th></tr>
                    <tr>
                        <th st-sort="id" style="min-width: 20px;">ID</th>
                        <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                        <th st-sort="description" style="min-width: 20px;">Description</th>
                        <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                        <th st-sort="major" style="min-width: 20px;">Major</th>
                        <th st-sort="minor" style="min-width: 20px;">Minor</th>

                        <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                        <th st-sort="lat" style="min-width: 10px;">Lat</th>
                        <th st-sort="lng" style="min-width: 10px;">lng</th>
                        <th st-sort="enable" style="min-width: 10px;">Enable</th>
                        <!--			<th style="min-width: 40px;">Groups</th>-->

                        <th style="width:20px;"> </th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="beacon in beacons">
                        <td>{{ beacon.beaconId}}</td>
<!--                        <td>{{ beacon.beaconName}}</td>-->
<!--                        <td><a ng-click="viewPartnerList(beacon)" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>-->
                        <td><a ng-href= "{{getBeaconUri(beacon.beaconId)}}" title="{{ beacon.beaconName}}">{{ beacon.beaconName}}</a> </td>
                        <td>{{ beacon.description}}</td>
                        <td>{{ beacon.uuid}}</td>
                        <td>{{ beacon.bMajor}}</td>
                        <td>{{ beacon.bMinor}} </td>
                        <td>{{ beacon.numberPartner}} </td>
                        <td>{{ beacon.lat}}</td>
                        <td>{{ beacon.lng}}</td>
                        <td>{{ beacon.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-href= "{{getBeaconUri(beacon.beaconId)}}" class="btn btn-small btn-primary" title="danh sach partner"><span class="glyphicon glyphicon-info-sign"></span></a></td>
                        <!--<td><a ng-click="viewBeaconDetail(beacon.beaconId)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>-->
                        <td><a ng-click="removeBeacon(beacon.beaconId)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="pageChanged()"></pagination>
        </div>

        <div ng-show="showPartnerList" class="span6">
            <a ng-click="backToBeaconList()" class="btn btn-small btn-primary" title="Back">Back to iBeacons <span class="glyphicon glyphicon-backward"/></a>
            &nbsp &nbsp &nbsp
            <a ng-click="addPartner()" class="btn btn-small btn-primary" title="Add">Add Partner <span class="glyphicon glyphicon-plus-sign"/></a>

            <table st-table="beaconInfo" st-safe-src="currentBeacon" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th st-sort="id" style="min-width: 20px;">ID</th>
                        <th st-sort="beaconName" style="min-width: 20px;">Name</th>
                        <th st-sort="description" style="min-width: 20px;">Description</th>
                        <th st-sort="uuid" style="min-width: 20px;">UUID</th>
                        <th st-sort="major" style="min-width: 20px;">Major</th>
                        <th st-sort="minor" style="min-width: 20px;">Minor</th>

                        <th st-sort="numberPartners" style="min-width: 20px;">Number Partner</th>

                        <th st-sort="lat" style="min-width: 10px;">Lat</th>
                        <th st-sort="lng" style="min-width: 10px;">lng</th>
                        <th st-sort="enable" style="min-width: 10px;">Enable</th>
                        <!--			<th style="min-width: 40px;">Groups</th>-->

                        <th style="width:20px;"> </th>
                        <th style="width:20px;"> </th>
                    </tr>
                </thead>
                <tbody>
                    
                        <td>{{ currentBeacon.beaconId}}</td>
<!--                        <td>{{ currentBeacon.beaconName}}</td>
                        <td>{{ currentBeacon.description}}</td>-->                        
                        <td> <input class="form-control input-sm" type="text" ng-model="currentBeacon.beaconName" /> </td>
                        <td> <input class="form-control input-sm" type="text" ng-model="currentBeacon.description" /> </td>
                        
                        
                        <td>{{ currentBeacon.uuid}}</td>
                        <td>{{ currentBeacon.bMajor}}</td>
                        <td>{{ currentBeacon.bMinor}} </td>
                        <td>{{ currentBeacon.numberPartner}} </td>
<!--                        <td>{{ currentBeacon.lat}}</td>
                        <td>{{ currentBeacon.lng}}</td>
                        <td>{{ currentBeacon.enable}}</td>-->
                        <td> <input class="form-control input-sm" type="text" ng-model="currentBeacon.lat" /> </td>
                        <td> <input class="form-control input-sm" type="text" ng-model="currentBeacon.lng" /> </td>
                        <td> <input class="form-control input-sm" type="text" ng-model="currentBeacon.enable" /> </td>
<!--                        			<td>
                                                    <span ng-repeat="partnerId in currentBeacon.partnerIds">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <td><a ng-click="updateBeaconInfo()" class="btn btn-small btn-primary" title="Update beacon info"><span class="glyphicon glyphicon-ok"></span></a></td>
                    
                </tbody>
            </table>
            
            <table st-table="partners" st-safe-src="partnerList" class="table table-striped table-condensed">
                <thead>

                <th style="min-width: 20px;">Danh sach partner</th>
                <tr>
                    <th st-sort="id" style="min-width: 20px;">ID</th>
                    <th st-sort="name" style="min-width: 20px;">Name</th>
                    <th st-sort="address" style="min-width: 20px;">Address</th>
                    <th st-sort="enable" style="min-width: 10px;">Enable</th>
                    <!--			<th style="min-width: 40px;">Groups</th>-->

                    <th style="width:20px;"> </th>
                    <th style="width:20px;"> </th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="partner in partners">
                        <td>{{ partner.partnerId}}</td>
                        <td>{{ partner.name}}</td>
                        <td>{{ partner.address}}</td>
                        <td>{{ partner.enable}}</td>
                        <!--			<td>
                                                    <span ng-repeat="group in beacon.groups">
                                                        {{group.name}}
                                                    </span>
                                                </td>			-->
                        <!--<td><a ng-click="viewPartnerDetail(partner.partnerId)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>-->
                        <td><a ng-click="removePartnerFromBeacon(partner.partnerId)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
                    </tr>
                </tbody>
            </table>
            <pagination ng-model="currentPage" 
                        total-items="totalItems" items-per-page="itemPerPage" 
                        ng-change="partnerPageChanged()"></pagination>
        </div>
    </body>
</html>
