<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
<!--        <div>TODO write content</div>-->
<div class="modal-body">

    <form  novalidate="novalidate">
        <div class="form-group">
	    <label class="form-control-static">Name:</label>
	    <input class="form-control input-sm" type="text" ng-model="newPartner.name" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">UserName:</label>
	    <input class="form-control input-sm" type="text" ng-model="newPartner.username" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Password:</label>
	    <input class="form-control input-sm" type="text" ng-model="newPartner.password" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Address:</label>
	    <input class="form-control input-sm" type="text" ng-model="newPartner.address" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Enable:</label>
	    <input class="form-control input-sm" type="text" ng-model="newPartner.enable" />
	</div>
	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Create</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>

<!--    <form  ng-show="hasPartner" novalidate="novalidate">

	<div class="form-group">
	    <label class="form-control-static">Id:</label>
	    <p class="form-control-static input-sm"> {{localPartner.id}}</p>	    
	</div>
        <div class="form-group">
	    <label class="form-control-static">Name:</label>	    
	    <input class="form-control input-sm" type="text" ng-model="localPartner.name" />
	</div>

	<div class="form-group">
	    <label class="form-control-static">Address:</label>
	    <input class="form-control input-sm" type="text" ng-model="localPartner.address" />
	</div>
        <div class="form-group">
	    <label class="form-control-static">Enable:</label>
            <input class="form-control input-sm" type="text" ng-model="localPartner.enable" />
	</div>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Update</a>
	</div>
	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>-->
</div>
    </body>
</html>
