<div class="container-fluid">

    <!--    <table class="table table-striped table-bordered table-hover table-responsive">
	    <thead>
		<tr>
		    <th class="col-lg-4">Group</th>
		    <th class="col-lg-2">Member</th>		    
		    <th class="col-lg-6">Door</th>
		</tr>		
	    </thead>
    
	    <tbody>
		<tr>	   
		    <td> 
    
			<div class="input-group"> 
			    <select class="form-control" ng-model="selectedGroup" ng-change="getGroup()" ng-options="group.id as group.name for group in groups">
				<option>{{group.id}}</option>
			    </select>	
			    <a class="input-group-addon btn btn-small btn-primary" title="Add Group">
				<span class="glyphicon glyphicon-plus" ng-click="addGroup()" ></span>
			    </a>			
			</div>
    
		    </td>
    
		    <td >    
			<div class="input-group" >
			    <input type="text" class="form-control"  ng-model="selectedUser" placeholder="userName">
			    <a class="input-group-addon btn btn-small btn-primary" title="Register Member" ng-click="registerUserByName()">
				<span class="glyphicon glyphicon-plus"></span>			    
			    </a>
			</div>
		    </td>
    
		    <td >    
			<table class="table table-striped table-hover table-responsive">
			    <thead>
				<tr>
				    <th class="col-lg-5">UUID</th>
				    <th class="col-lg-3">Major</th>		    
				    <th class="col-lg-3">Minor</th>
				    <th class="col-lg-1"></th>
				</tr>		
			    </thead>
    
			    <tbody>
				<tr>
				    <td> <input type="text" class="form-control" id="door-uuid" placeholder="UUID" ng-model="selectedDoor.uuid"> </td>
				    <td> <input type="text" class="form-control" id="door-major" placeholder="Major" ng-model="selectedDoor.major"> </td>
				    <td> <input type="text" class="form-control" id="door-major" placeholder="Minor" ng-model="selectedDoor.minor"> </td>				
				    <td >
					<a class="btn btn-small btn-primary" title="Register Door" ng-click="registerDoor()">
					    <span class="glyphicon glyphicon-plus" ></span>
					</a>		    
				    </td>
				</tr>
			    </tbody>
    
			</table>
    
		    </td>
		</tr>
	    </tbody>
	</table>-->


    <div class="row">
	<div class="col-sm-12">	    
	    <button type="button" class="btn btn-primary" ng-click="addGroup()">
		Add Group
		<i class="glyphicon glyphicon-plus"></i>		
	    </button>

	    <button type="button" class="btn btn-primary" ng-click="searchGroup()">
		Search Group
		<i class="glyphicon glyphicon-search"></i>		
	    </button>

	</div>
	<div class="col-sm-12">
	    <table st-table="groups" st-safe-src="groupList" class="table table-striped table-hover table-responsive">		
		<thead>
		    <tr>
			<th st-sort="name" >Group</th>
			<th st-sort="description" >Description</th>
			<th st-sort="id">Group Id</th>
			<th st-sort="users.length">Total User Register</th>
			<th st-sort="doors.length">Total Door Register</th>
			<th st-sort="flags">Flags</th>
			<th st-sort="dateCreated">Create</th>
			<th st-sort="dateUpdated">Last Update</th>
			<th></th>
		    </tr>
		</thead>

		<tbody >
		    <tr ng-class="group.id === selectedGroup ? 'info': ''  " ng-repeat="group in groups" ng-click="choiceGroup(group)" >		
			<th>{{group.name}}</th>
			<th>{{group.description}}</th>
			<th>{{group.id}}</th>
			<th>{{group.users.length}}</th>
			<th>{{group.doors.length}}</th>
			<th>{{group.flags}}</th>
			<th>{{group.dateCreated}}</th>
			<th>{{group.dateUpdated}}</th>
			<th>
			    <a ng-click="viewGroupDetail(group.id)" class="btn btn-small btn-primary" title="Chi tiết">
				<span class="glyphicon glyphicon-edit"></span>
			    </a>
			</th>
		    </tr>
		</tbody>

	    </table>
	    <pagination ng-model="currentGroupPage" total-items="totalGroupItems" items-per-page="itemPerPage" ng-change="pageGroupChanged()"></pagination>
	</div>


	<div class="col-sm-3">
	    <table st-table="groupMembers" st-safe-src="memberTable" class="table table-striped table-hover table-responsive">

		<thead>
		    <tr>
			<th st-sort="name" class="col-lg-11">Member</th>
			<th  class="col-lg-1">
			    <button type="button" class="btn btn-primary" ng-click="modalRegisterUser()" title="Register Member">
				Register Member
				<i class="glyphicon glyphicon-plus"></i>				
			    </button>			    
			</th>		
		    </tr>
		</thead>

		<tbody>
		    <tr ng-class="member.id === selectedMember ? 'info': ''  "  ng-repeat="member in groupMembers" ng-mousemove="addClassMember(member)" ng-mouseleave="releaseClassMember(member)">
			<td>{{member.name}}</td>			
			<td>
			    <div >
				<a ng-click="removeMember(member.id)" class="btn btn-small btn-primary" title="Unregister Member" >
				    <span class="glyphicon glyphicon-remove"></span>
				</a>
			    </div>
			</td>
		    </tr>

		</tbody>
	    </table>	    
	</div>

	<div class="col-sm-9">	    
	    <table st-table="groupDoors" st-safe-src="doorTable" class="table table-striped table-hover col-md-4" >
		<thead>
		    <tr>
			<th class="col-lg-4">Description</th>
			<th st-sort="uuid" class="col-lg-3">UUID</th>		
			<th st-sort="major" class="col-lg-3">Major</th>
			<th st-sort="minor" class="col-lg-2">Minor</th>
			<th st-sort="id" class="col-lg-2">ID</th>
			<th class="col-lg-2">
			    <button type="button" class="btn btn-primary" ng-click="modalRegisterDoor()" title="Register Door">
				Register Door
				<i class="glyphicon glyphicon-plus"></i>				
			    </button>
			</th>
		    </tr>
		</thead>

		<tbody>
		    <tr ng-class="door.id === selectedDoor ? 'info': ''  " ng-repeat="door in groupDoors" ng-mousemove="addClassDoor(door)" ng-mouseleave="releaseClassDoor(door)">
			<td>{{door.description}}</td>
			<td>{{door.uuid}}</td>
			<td>{{door.major}}</td>
			<td>{{door.minor}}</td>
			<td>{{door.id}}</td>
			<td>
			    <div>
				<a ng-click="removeDoor(door)" class="btn btn-small btn-primary" title="Unregister Door">
				    <span class="glyphicon glyphicon-remove"></span>
				</a>
			    </div>
			</td>
		    </tr>

		</tbody>
	    </table>
	</div>

    </div>

    <br/><br/><br/>
</div>
