<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
	<title>Partners</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
	<div class="span6">
	    <table st-table="partners" st-safe-src="partnerList" class="table table-striped table-condensed">
		<thead>
                    <tr><th colspan="5"><a ng-click="addPartner()" class="btn btn-small btn-primary" title="Create">Add Partner <span class="glyphicon glyphicon-plus-sign"/><br/></a><br/><br/></th></tr>
		    <tr>
                        <th st-sort="id" style="min-width: 20px;">ID</th>
			<th st-sort="name" style="min-width: 20px;">Name</th>
			<th st-sort="address" style="min-width: 20px;">Address</th>
                        <th st-sort="enable" style="min-width: 10px;">Enable</th>
<!--			<th style="min-width: 40px;">Groups</th>-->
                        
			<th style="width:20px;"> </th>
			<th style="width:20px;"> </th>
		    </tr>
		</thead>
		<tbody>
		    <tr ng-repeat="partner in partners">
                        <td>{{ partner.partnerId}}</td>
			<td>{{ partner.name}}</td>
			<td>{{ partner.address}}</td>
			<td>{{ partner.enable}}</td>
<!--			<td>
			    <span ng-repeat="group in beacon.groups">
				{{group.name}}
			    </span>
			</td>			-->
			<!--<td><a ng-click="viewPartnerDetail(partner.partnerId)" class="btn btn-small btn-primary" title="Chi tiết"><span class="glyphicon glyphicon-edit"></span></a></td>-->
			<td><a ng-click="removePartnerFromBeacon(partner.partnerId)" class="btn btn-small btn-primary" title="Xóa"><span class="glyphicon glyphicon-remove"></span></a></td>
		    </tr>
		</tbody>
	    </table>
	    <pagination ng-model="currentPage" 
			total-items="totalItems" items-per-page="itemPerPage" 
			ng-change="pageChanged()"></pagination>
	</div>
    </body>
</html>

