<div class="modal-body">

    <form novalidate="novalidate">


	<table class="table table-striped table-hover table-responsive">
	    <thead>
		<tr>
		    <th class="col-lg-5">UUID</th>
		    <th class="col-lg-3">Major</th>		    
		    <th class="col-lg-3">Minor</th>
		</tr>		
	    </thead>

	    <tbody>
		<tr>
		    <td> <input type="text" class="form-control" id="door-uuid" placeholder="UUID" ng-model="selectedDoor.uuid"> </td>
		    <td> <input type="text" class="form-control" id="door-major" placeholder="Major" ng-model="selectedDoor.major"> </td>
		    <td> <input type="text" class="form-control" id="door-major" placeholder="Minor" ng-model="selectedDoor.minor"> </td>				
		</tr>
	    </tbody>

	</table>

	<div class="form-group">
	    <a ng-click="cancel()" class="btn btn-small btn-primary">Cancel</a>
	    <a ng-click="confirm()" class="btn btn-small btn-primary">Register</a>
	</div>

	<alert ng-repeat="msg in msgList" type="{{msg.type}}" close="clearMsg()">{{msg.content}}</alert>
    </form>


</div>
